.navbar{
    margin-bottom: 0px;
    border: 0;
}

.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: white;
    background-color: black;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.help{
    text-align: center;
}
.nav>li>a:focus, .nav>li>a:hover {

}