
<!DOCTYPE html>
<html>
<head>
    <title>Automated Tender System</title>

    <link rel="stylesheet" type="text/css" href="engine1/style.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/profile_admin.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="engine1/jquery.js"></script>

</head>
<body>
<div class="navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid" style="background-color: steelblue;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Automated Tenders System</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#div1">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Active Tenders</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Active Corrigendums</a></li>
                    <li><a href="#">Result of Tenders</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<section id="ver-nav">
    <div class="container">
        <div class="row" style="margin-top: 12%; margin-bottom: 12%;">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: -08%; padding: 0% 11% 0% 11%">
                <h3 style="text-align: center;">Deadline Details</h3>
                <hr>
                <div class="row" style="padding: 10%; background-color: lightgrey;">
                    <div class="row" style="background-color: #f0f0f0; padding: 2%; margin:1%;">
                    <div class="row" style="margin-top: 1%; ">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            <b>Company Name:</b>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                                Display Name
                        </div>
                    </div>

                    <div class="row" style="margin-top: 1%;">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            <b>Tender Description:</b>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                                Display Description
                        </div>
                    </div>

                    <div class="row" style="margin-top: 1%;">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            <b>Opening Date:</b>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                                Display Opening Date
                        </div>
                    </div>

                        <div class="row" style="margin-top: 1%;">
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Task 1:
                        </div>
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Display Task 1
                        </div>

                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Deadline:
                        </div>
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Display Deadline 1
                        </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Task 2:
                        </div>
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Display Task 2
                        </div>

                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Deadline:
                        </div>
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Display Deadline 2
                        </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Task 3:
                        </div>
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Display Task 3
                        </div>

                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Deadline:
                        </div>
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Display Deadline 3
                        </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Task 4:
                        </div>
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Display Task 4
                        </div>

                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Deadline:
                        </div>
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Display Deadline 4
                        </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Task 5:
                        </div>
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Display Task 5
                        </div>

                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Deadline:
                        </div>
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            Display Deadline 5
                        </div>
                        </div>


                </div>
            </div>


        </div>
    </div>
</section>

<footer style="background-color: black; text-align: ">
    <div class="container">
        <div class="row">

            <ul class="list-inline " style="text-align: center;">
                <li id="social" class="push-right">Keep in touch</li>
                <li><a  href="#"><img src="../static/img/facebook.png"></a></li>
                <li><a href="#"><img src="../static/img/Youtube.png"></a></li>
                <li><a href="#"><img src="../static/img/Twitter.png"></a></li>
            </ul>

        </div>
        <div class="row" style="text-align: center; text-decoration: none;">
            <a  href="#">Website Policy </a> |
            <a  href="#">RTI </a> |
            <a  href="#"> Sitemap</a>
        </div>
        <div class="row" style="text-align: center;">
            <div>
                <p>
                    &copy; Automated Tenders System 2017. All right reserved.
                </p>
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>



<!-- Theme JavaScript -->
<script src="js/scroll.js"></script>

</body>

</html>