{% extends "layout.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="../static/css/faq_style.css" />
{% endblock %}
{% block body %}
	<!-- Description-->
	<div class="container-fluid div1" style="padding-top: 40px;">
	<div class="row">
	<div class="col-md-3 col-lg-3" style="background-color:;">
		<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title help">Help</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
	<li role="presentation"><a href="about.html">About Portal</a></li>
  	<li role="presentation"><a href="how.html">Help for Dept. Users</a></li>
  	<li role="presentation"><a href="how.html">Help for Online Bidders</a></li>
    <li role="presentation"><a href="registereddept.html">Registered Departments</a></li>
  	</ul>
  </div>
</div>
	</div>
		
	<div class="col-md-6" style="margin-top: -3%;">
	<h3 style="text-align: center;">Frequently Asked Questions</h3>
  <hr>
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title accot">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        01. What is the objective of our portal?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">The objective of this  portal is to provide a common platform for all bidders to go through the tenders and apply accordingly and a single point access to the procurements made across various central government organisations.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title accot">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">02. What all would be available?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">It contains all the tender enquiries floated by any central government organisation. It contains all the latest tender released and corrigendums. There’s a special feedback system available to make things more transparent. It will also contain information about the closed tenders.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title accot">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">03. What is expected out of any Government department in this portal?</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body"> All users of Government Departments are expected to upload all tender enquiries, its corrigendums and award details after the bid award on to the site.</div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title accot">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">04.What are all the requirements to use CPP portal?</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">For a user who has to upload tender enquiries to the portal, the basic requirements would be to get a Login ID created by filling up the registration form.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title accot">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">05. How and where do I get Help to use this portal?</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">First level  help can be obtained by calling the Help line number available on the website. Mails can be sent to the specified mail address.</div>
    </div>
  </div>
</div>


  </div>
    	
	<div class="col-md-3" style="text-align: center; margin-top: 0px;">
	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title ">Panel title</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
	<li role="presentation"><a href="about.html">Login</a></li>
  	<li role="presentation"><a href="how.html">Register</a></li>
  	</ul>
  </div>
</div>
	</div>
		
	</div>
	</div>

<div class="container-fluid div1" style="padding-top: 10px;">
	<div class="row">
	<div class="col-md-3 col-lg-3" style="background-color:;">
		<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title help">Others</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
	<li role="presentation"><a href="about.html">Rules and Procedures</a></li>
  	<li role="presentation"><a href="how.html">Downloads</a></li>
  	<li role="presentation"><a href="how.html">Dashboard</a></li>
  	</ul>
  </div>
</div>
	</div>
		
	<div class="col-md-6" style="margin-top-top: -15%;">
	<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title accot">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse6">06. Who is a Nodal Officer?</a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">Nodal officer is the key official who drives the implementation of the project in their Ministry / Department / Organization. He also creates users for his organization.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title accot">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse7">07. Where do I find training materials / user manuals?</a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body">All User Manuals and training materials is available in the Home Page of the portal under the Sub Heading  “Help”.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title accot">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse8">08.What if something goes wrong with password or if I forget it?</a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">There will be alternative option like “forgot password” when you try to login. In case, still if something goes wrong you can connect with us using the helpline numbers.</div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title accot">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse9">09. How do I contact my Nodal Officer  for any doubts?</a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body">The names and contact details of all Nodal Officers are provided in the home page of our portal. So you can easily contact them by getting the details.</div>
    </div>
  </div>
</div>
  </div>
    	
	<div class="col-md-3" style="text-align: center; margin-top: 0px;">
	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Related Links</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
	<li role="presentation" class="active"><a href="about.html">FAQ</a></li>
  	<li role="presentation"><a href="how.html">GOI Directory</a></li>
  	</ul>
  </div>
</div>
	</div>
		
	</div>
	</div>


<div class="container-fluid div1" style="padding-top: 10px;">
	<div class="row">
	<div class="col-md-3 col-lg-3" style="background-color:;">
		<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title help">Search the Tender</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
	<li role="presentation"><a href="about.html">Tender Search</a></li>
  	<li role="presentation"><a href="how.html">Active Tenders</a></li>
  	<li role="presentation"><a href="how.html">Closed Tenders</a></li>
  	<li role="presentation"><a href="how.html">Tenders Calendar</a></li>
  	</ul>
  </div>
</div>
	</div>				
	</div>
	</div>
  {% endblock %}