<!DOCTYPE html>
<html>
<head>
    <title>Automated Tender System</title>
    
    
    <link rel="stylesheet" type="text/css" href="engine1/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="engine1/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/forgot_style.css">


</head>
<body data-spy="scroll" data-target=".navbar">
    
    <div class="navbar">
<nav class="navbar navbar-default">
  <div class="container-fluid" style="background-color: steelblue;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Automated Tenders System</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
              
      </ul>
      
        <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#div1">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Active Tenders</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Active Corrigendums</a></li>
        <li><a href="#">Result of Tenders</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<div id="grad1">
     
    <!-- Description-->
    <div class="container-fluid div1" style="padding-top: 40px;">
    <div class="row">
    <div class="col-md-3 col-lg-3" style="background-color:rgb();">
         </div>
        
    <div class="col-md-6">
 <div class = "container">
    <div class = "row">
        <div class = "col-sm-7">
        <div class="color" style="background-color: white;">
            <form name= "form_reg" ng-submit = "saveUser(userInfo)" method="post">
                <div>
                    <fieldset>
                        <legend>Forgot Password</legend>
                        <div class="form-group" ng-controller = "userCtrl">

                            <label>Username</label>
                            <input type="email" class="form-control" name="l_ID" ng-model = "userInfo.l_ID" ng-required = "true" />
                            <span class="error-message" ng-show="form_reg.l_ID.$touched && form_reg.l_ID.$error.required">Enter a registered login id(email)</span>
                        </div>
      <center> <button href="{{url_for('index')}}" class="btn btn-success" role="button" value="Submit" type="Submit">Submit</button> </center> <br>

                         
 

 
                     

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="login.js"></script>
    </div>
        
 
        
    </div>
    </div>      

    <script type="text/javascript" src="engine1/wowslider.js"></script>
    <script type="text/javascript" src="engine1/script.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- End WOWSlider.com BODY section -->

</body>
</html>

































 